A:link { text-decoration: none; color:#a1a1a1 }
A:visited { text-decoration: none; color:#a1a1a1 }
A:hover { text-decoration: none; color:red }

font.brown {color: brown;}
font.black {color: #000000;}
font.grey {color: #bfbfbf;}
font.orange {color: #CC6600;}
font.blue {color: #00a5c6}
font.red {color: #FF3333}
font.green {color: green}
font.yellow {color: yellow}
font.lg {color: #9c7bbd}
font 		{ color:#ffffff;font-family: Tahoma;}
table 		{ font-size: 12px;font-family: Tahoma; }
table.f 		{ font-size: 14px;font-family: Tahoma; }

li		{color: #ff8429;}

body    {background-color: #000000; color: #bfbfbf ;font-family: Tahoma;
        scrollbar-face-color:#630000;
        scrollbar-highlight-color:#808080;
        scrollbar-3dlight-color:#808080;
        scrollbar-darkshadow-color:#808080;
        scrollbar-shadow-color:#808080;
        scrollbar-track-color:#404040;
        scrollbar-arrow-color:#808080;
        }

	
b.other		{ COLOR: silver; font-family: Tahoma;}

hr.red		{color: red; font-family: Tahoma;}
	
input		{background-color: #630000;border-color: #003139; color: #bfbfbf}
select		{background-color: #630000;border-color: #003139; color: #bfbfbf}
input.button	{font-family: Verdana; font-weight: none; color: #212121; background-color: #616161; border-color: #212121}
input.button2   {font-family: verdana; font-weight: none; color:#089494; background-color: #630000; border-color: #089494}
<!-- THESE ARE THE NAVBAR STYLES -->
td.top		{background-color: #000000; text-align: center} <!-- gp, civilains land etc -->
td.main		{background-color: #630000;text-align: center} <!-- empire, sector, guild etc -->
td.inner	{background-color: #404040;} <!-- main menu, explore, status, etc -->

td.clock	{background-color: #003139; color: #bfbfbf; text-align:center}
table.outer     
<!-- END OF NAVBAR STYLES -->

<!-- THESE ARE THE TABLES IN THE IN-GAME PAGES -->
td.main2	{background-color: #313131; text-align: center}
td.inner2	{background-color: #404040; text-align: center}
b.top		{color: #bfbfbf; font-style: bold;font-family: Tahoma;}
b.reg		{color: #a1a1a1;font-family: Tahoma;}
td.num		{text-align: center}
b.black		{color: #000000;font-family: Tahoma;}
b.rtop		{color: #A10606;font-family: Tahoma;}
b.forum		{color: #A10606;font-family: Tahoma;}
textarea		{background-color: #630000;border-color: #003139; color: #bfbfbf;}