	tr 	{ FONT-SIZE: 14px;}
	td 	{ FONT-SIZE: 14px;}
	td.main { FONT-SIZE: 14px;}
	td.top  { BACKGROUND-COLOR: #630000; color: red}
	p	{ COLOR: "#bfbfbf"}
	tr	{ COLOR: #bfbfbf}
	A:link		{ COLOR: #bfbfbf; }
	A:link		{ COLOR: #bfbfbf; TEXT-DECORATION: none; }
	A:visited	{ COLOR: #bfbfbf;}
	A:visited	{ COLOR: #bfbfbf; TEXT-DECORATION: none;}
	A:active	{ COLOR: #630000; }
	A:active	{ COLOR: #630000; TEXT-DECORATION: none; }
	A:hover		{ COLOR: red;}
	A:hover		{ COLOR: red; TEXT-DECORATION: underline;font-size:12;}
	b		{ COLOR: red;}
	b.other		{ COLOR: #ff8429; }
body    {background-color: "#000000"; color: "#bfbfbf" ;
        scrollbar-face-color:#630000;
        scrollbar-highlight-color:#808080;
        scrollbar-3dlight-color:#808080;
        scrollbar-darkshadow-color:#808080;
        scrollbar-shadow-color:#808080;
        scrollbar-track-color:#404040;
        scrollbar-arrow-color:#808080;
        }

b.important	{COLOR: yellow}
td.main		{background-color: "#630000";text-align: center} <!-- empire, sector, guild etc -->
td.inner	{background-color: "#404040";} <!-- main menu, explore, status, etc -->
td.main2	{background-color: "#313131"; text-align: center}
td.inner2	{background-color: "#404040"; text-align: center}
font 		{ color:"#ffffff";font-family: "Tahoma";}