A:link { text-decoration: none; color:"white" }
A:visited { text-decoration: none; color:"white" }
A:hover { text-decoration: underline overline; color:"red" }


td.specsize		{font-size: 40px}

font 		{ color:"#ffffff" }
table 		{ font-size: 12px }



body    {background-color: "#000000"; FONT-FAMILY: color: #ffffff;
        scrollbar-face-color:#630000;
        scrollbar-highlight-color:#808080;
        scrollbar-3dlight-color:#808080;
        scrollbar-darkshadow-color:#808080;
        scrollbar-shadow-color:#808080;
        scrollbar-track-color:#404040;
        scrollbar-arrow-color:#808080;
        }
b.3		{ COLOR: #d66321; font-size: 12px;}
b.2		{ COLOR: #ad0000; font-size: 18px;}
b		{ COLOR: #ad0000; font-size: 20px;}
b.other		{ color: #a1a1a1; font-size: 12px }

hr.red		{color: red }
	
input		{background-color: #630000;border-color: #808080; color: #bfbfbf}
select		{background-color: #630000;border-color: #003139; color: #bfbfbf}
textarea	{background-color: #630000;border-color: #003139; color: #bfbfbf}
input.button	{font-family: Verdana; font-weight: none; color: #212121; background-color: #616161; border-color: #212121}
input.button2   {font-family: verdana; font-weight: none; color:#089494; background-color: #630000; border-color: #089494}

font	{font-family: Verdana;font-size: 12px}
font.important		{color: yellow}
hr.main			{color: #630000; width: 90%; }
font.esize	{font-size: 18px; font-family: Impact}
font.specsize		{font-size: 40px}

b.black		{color: #000000}
td.main2	{background-color: "#212121"; text-align: center}
td.inner2	{background-color: "#404040"; text-align: center}
td.main		{background-color: "#630000";text-align: center} <!-- empire, sector, guild etc -->
b.reg		{color: #a1a1a1; font-size: 12px}
b.center		{color: "#a1a1a1"; text-align: center}
b.yellow		{color: "yellow"; text-align: center}